<div class="content">
  <div class="element">
    <div class="title-element">
      <mat-icon class="white-icon">assignment</mat-icon>
      <p class="title">Easy Forms</p>
    </div>
    <div class="dashboard-content">
      <button mat-button (click)="goToDashboard()">Dashboard</button>
    </div>
    <div class="forms-content">
      <button mat-button (click)="goToForms()">Forms</button>
    </div>
    <div class="themes-content">
      <button mat-button (click)="goToThemes()">Themes</button>
    </div>
    <div class="addOns-content">
      <button mat-button (click)="goToAddOns()">Add-ons</button>
    </div>
    <div class="users-content">
      <button mat-button (click)="goToUsers()">Users</button>
    </div>
    <div class="admin-contet">
      <button mat-button (click)="goToAdmin()">admin</button>
    </div>
  </div>
</div>
